main {
  display: flex;
  justify-content: center;
  min-width: 1296px;
}
.main-centralize-container {
  display: flex;
  flex: row;
  width: 1296px;
  margin-bottom: 80px;
}

.main-categories-list {
  width: 306px;
  margin-right: 24px;
}

.main-categories-list li {
  display: flex;
  flex-direction: row;
  width: 282px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
}

.main-categories-list li:hover {
  background: #f5f5f5;
}

.main-categories-list li p {
  width: 232px;
  margin-right: 10px;
  color: #1e293b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-content-container h3 {
  width: 100%;
  margin-bottom: 24px;
  color: #1e293b;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.sublist-container {
  width: 306px;
  margin-right: 24px;
}

.sublist {
  margin-bottom: 24px;
}

.sublist li {
  margin-bottom: 5px;
  color: #1e293b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sublist li:first-child {
  margin-bottom: 7px;
  color: #1e293b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
